<div class="container samantha">

  <%= render_elements only: 'heading' %>

  <div class="dividewhite8"></div>

  <ul class="timeline-vert">
    <%= render_elements only: 'timeline_item' %>
  </ul>

</div>
